{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Book Index</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body>
    <div class="container my-4">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Book Index</h1>
            </div>
        </div>


        <div class="row pb-4 d-flex bd-highlight mb-3">
            <div class="mr-auto p-2 bd-highlight"><label for="searchbook">Search Book : </label></div>
            <div class="p-2 bd-highlight flex-grow-1"><input id="searchbook" type="text" class="form-control" placeholder="web programming for babies"></div>
        </div>

        <div class="table-responsive row">
            <div class="col">
                <table class="table table-striped">
                </table>
            </div>
        </div>
    </div>

    <script src="{% static 'js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/homeScript.js' %}"></script>
</body>

</html>