{% load static %}

<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=0.8">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		<title>PPW</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
	</head>

	<body style="background-image: url({% static 'image/background.jfif' %});background-position: center;background-repeat: no-repeat;background-size: cover;">
	
		<div style="margin-top:25%;">
			<div class="d-flex justify-content-center">
				<h1>Welcome</h1>
			</div>
			<div class="d-flex flex-row bd-highlight mb-3 justify-content-center">
				
				<div class="d-flex justify-content-center">
					<a href="/book"><button type="button" class="btn btn-warning">Story 8</button></a>
				</div>
				<div class="d-flex justify-content-center">
					<a href="/auth/home/"><button type="button" class="btn btn-warning">Story 9</button></a>
				</div>
			</div>
		</div>
		
		<script src="{% static 'js/jquery.slim.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
	</body>

</html>