{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Book Index</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>

<body>

    <div class="login-form">
        <form method="POST">
            {% csrf_token %}
            <div class="avatar">
                <img src="{% static 'img/avatar.png' %}" alt="Avatar">
            </div>
            <h2 class="text-center">Login</h2>
            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Username" id="username" required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password" id="password" required="required">
            </div>

            <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>

        </form>
        <!-- <p class="text-center small">Don't have an account? <a href="#">Sign up here!</a></p> -->
    </div>

    <script src="{% static 'js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>