{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Book Index</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>

<body>

    <div class="logout-container">
        <h1>Apakah anda yakin akan logout?</h1>

        <div class="button-container row justify-content-center">
            <form method="POST">
                {% csrf_token %}
                <input type="submit" name="logout" class="btn btn-danger" value="Logout">
            </form>

            <a href="/auth/home/"><button type="button" class="btn btn-warning">Cancel</button></a>

        </div>
    </div>

    <script src="{% static 'js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>